.sections {
  position: relative;
  width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

 
}
.abcontent h1{
	color: white;
	text-align: center;
	background-color: #282e34;
}
.cc{
	color: white;
	z-index: 3;
font-size: 250px;
	position: absolute;
	align-items: center;
	text-align: center;
	margin-left: 350px;
	margin-top: 150px;
	opacity: 0.6;
	 -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  border: 5px solid black;
  background-color: gray;
  padding: 50px;

}
.abcontent{
	background-color: #282e34;
	
	height: 100%;
}

.video-container {

  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
 
  background-color: black;
  width: 100%;
height: 78%;
  opacity: 0.6;
}
video{
	width: 100%;
	height: 100%;
	 z-index: 1;


}
*{
	font-family: 'Bebas Neue', cursive;

	background-color: black;
}
.des{
	margin-top: 50px;
	font-size: 20px;
	background-color: transparent;
	color: white;
	text-align: justify;
	padding-right: 150px;
	padding-left: 150px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 150px;
}
.footer {
	border: 1px solid black;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */

}.dex{
	font-size: 80px;
	padding-top: 50px;

}/*phone*/
@media only screen and (min-width: 360px) and (max-width: 825px){
	/*body {
		background-color: red;
	}*/

.sections {
  position: relative;
  width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

 
}
.abcontent h1{
	color: white;
	text-align: center;
	background-color: #282e34;
}
.cc{
	color: white;
	z-index: 3;
font-size: 100px;
	position: absolute;
	align-items: center;
	text-align: center;
	margin-left: 260px;
	margin-top: 120px;
	opacity: 0.7;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 5px solid black;
  background-color: gray;
  padding: 30px;

}
.abcontent{
	background-color: #282e34;

	height: 100%;
}

.video-container {

  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
 
  background-color: black;
  width: 100%;
height: 43%;
  opacity: 0.6;
}
video{
	width: 100%;
	height: 100%;
	 z-index: 1;


}
*{
	font-family: 'Bebas Neue', cursive;

	background-color: black
}
.des{
	margin-top: 50px;
	font-size: 20px;
	background-color: transparent;
	color: white;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
overflow: hidden;
	position: absolute;
	font-family: 'Lato', sans-serif;
}
.footer {
	border: 1px solid black;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */

}.dex{
	font-size: 50px;
	

}
/*phone2*/
@media only screen and (max-width: 414px){
	/*body {
		background-color: red;
	}*/

.sections {
  position: relative;
  width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

 
}
.abcontent h1{
	color: white;
	text-align: center;
	background-color: #282e34;
}
.cc{
	color: white;
	z-index: 3;
font-size: 40px;
	position: absolute;
	align-items: center;
	text-align: center;
	margin-left: 140px;
	margin-top: 50px;
	opacity: 0.7;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 5px solid black;
  background-color: gray;
  padding: 30px;

}
.abcontent{
	background-color: #282e34;

	height: 100%;
}

.video-container {

  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
 
  background-color: black;
  width: 100%;
height: 33%;
  opacity: 0.6;
}
video{
	width: 100%;
	height: 100%;
	 z-index: 1;


}
*{
	font-family: 'Bebas Neue', cursive;

	background-color: black
}
.des{
	margin-top: 50px;
	font-size: 20px;
	background-color: transparent;
	color: white;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
overflow: hidden;
	position: absolute;
	font-family: 'Lato', sans-serif;
}
.footer {
	border: 1px solid black;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */

}.dex{
	font-size: 50px;
	

}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1050px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;

  }
  .logs{
	position: absolute;
	z-index: 2;
	font-size: 420px;
	color: white;
	margin-top:220px;
	margin-left: 1px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.logss{
	position: absolute;
	z-index: 2;
	font-size: 68px;
	color: white;
	margin-top:600px;
	margin-left: 15px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
  .mySlides{
	display: none;
	height: 100vh;
	max-width: 100%;


}

  #about{


}
  p{
	font-size: 180px;
	padding: 50px;
	margin-top:50px; 
}
.mapouter{
display: none;
	overflow: hidden;
	align-items: center;

}
.fas{
align-items: center;

justify-content: center;

}

.add{
	margin-bottom: 50px;

	padding-left: 200px;
}
.address{


	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;

}
.phone{
width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
}
.emaill{
	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
	
}
input{
	width: 100%;
	height: 40px;
}
.cols1{


	
	display: inline;
	
}
.cols2{

	/*display: inline;*/
	margin-bottom: 20px;
}
}



