*{
	font-family: 'Bebas Neue', cursive;


}


p{
	font-size: 250px;
	padding: 50px;
	margin-top:50px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; 
}.xx{
	animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: #fff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #fff;    }
}
.text{
	border-radius: 5px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}

.button1 {
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: transparent;
  color: white;
}


input{
	width: 100%;
	height: 40px;
}
.cols1{
	float: left;

	width: 49%;
	/*display: inline;*/
	
}
.cols2{
	float:right;
	width: 49%;
	/*display: inline;*/
	margin-bottom: 20px;
}
.navbar{
	position: relative;
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	opacity: 0.8;
	z-index: 2;
}

textarea{
	height: 250px;
	width: 100%;
}
.navbar-brand{
	font-size: 50px;
}

#videoBG {
    position:fixed;
    z-index: -1;
}
.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}
#about{
	height: 105vh;
	max-width: 100%;
	background:

linear-gradient(
		rgba(17, 0, 0, 0.50),
		rgba(0, 0, 0, 0.75)
		),


	 url('https://images.complex.com/complex/image/upload/c_limit,dpr_auto,q_90,w_720/fl_lossy,pg_1/btf3ohqk8id6aqh8ttoe.jpg');
	background-repeat: no-repeat;
	  background-size: 100% 100%;


}
.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 500px;


}

.button2 {
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color: transparent;
  color: white;
}
.gg{
font-size: 100px;
}
/*#gallery{
	height: 90vh;
	margin-left: 10px;
	text-align: center;
}
.img-gallery{
	margin: 20px;	
}*/
.fab{
align-items: center;
overflow: hidden;
justify-content: center;

}.adds{
	margin-bottom: 50px;

margin-top: 20px;
	display: inline-block;
}.fb{

	float: left;
	width: auto;
margin-right: 15px;
	text-align: justify-all;

}

.tw{
	float: left;
	width: auto;
	margin-right: 15px;
	text-align: justify-all;
	
}
.ig{
	float: left;
	width: auto;
	margin-right: 15px;
	text-align: justify-all;
	
}
.lin{

	float: left;
	width: auto;
margin-right: 15px;
	text-align: justify-all;

}
.gl{
	float: left;
	width: auto;
	margin-right: 15px;
	text-align: justify-all;
	
}
.glab{
	float: left;
	width: auto;
	margin-right: 15px;
	text-align: justify-all;
	
}
.add{
	margin-bottom: 50px;



	display: inline-block;
}
.address{

	float: left;
	width: auto;
	margin-right: 200px;
	text-align: justify-all;

}
.phone{
	float: left;
	width: auto;
	margin-right: 200px;
	text-align: justify-all;
	
}
.emaill{
	float: left;
	width: auto;
	
	text-align: justify-all;
	
}
.logos{
	height: 500px;
	width: 500px;

}

.footer {
	border: 1px solid black;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
}

.mySlides{
	
	height: 930px;
	max-width: 100%;


}
.logs{
	position: absolute;
	z-index: 2;
	font-size: 300px;
	color: white;
	margin-top:580px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.logss{
	position: absolute;
	z-index: 2;
	font-size: 70px;
	color: white;
	margin-top:850px;
	margin-left: 10px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.mapouter{

	overflow: hidden;
	align-items: center;


}
/*phone*/
@media only screen and (min-width: 360px) and (max-width: 825px){
	/*body {
		background-color: red;
	}*/

.pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;

  }
  .logs{
	position: absolute;
	z-index: 2;
	font-size: 200px;
	color: white;
	margin-top:120px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.logss{
	position: absolute;
	z-index: 2;
	font-size: 38px;
	color: white;
	margin-top:330px;
	margin-left: 5px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 300px;


}.xx{
	font-size: 180px;
	animation:blinkingText 1.2s infinite;
}
.gg{

}
  .mySlides{

		


}

   #about{

  	background-repeat: no-repeat;
	  background-size: 100% 100%;
	  width: 1080px;
  }
  p{
	font-size: 80px;
	padding: 50px;
	margin-top:50px; 
}
.mapouter{
display: none;
	overflow: hidden;
	align-items: center;

}
.fas{
align-items: center;
overflow: hidden;
justify-content: center;

}

.add{
	margin-bottom: 50px;

	display: inline-block;
}
.address{


	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;

}
.phone{
width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
}
.emaill{
	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
	
}
input{
	width: 100%;
	height: 40px;
}
.cols1{


	
	display: inline;
	
}
.cols2{

	/*display: inline;*/
	margin-bottom: 20px;
}
}
/*phone2*/
@media only screen and (max-width: 414px){
	/*body {
		background-color: red;
	}*/

.pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;

  }
  .logs{
	position: absolute;
	z-index: 2;
	font-size: 200px;
	color: white;
	margin-top:120px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.logss{
	position: absolute;
	z-index: 2;
	font-size: 38px;
	color: white;
	margin-top:330px;
	margin-left: 5px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 105px;


}.xx{
	font-size: 70px;
	animation:blinkingText 1.2s infinite;
}
.gg{
	font-size: 80px;

}
  .mySlides{

		height: 400px;


}

   #about{
height: 600px;
  	background-repeat: no-repeat;
	  background-size: 100% 100%;
	  width: 1080px;
  }
  p{
	font-size: 80px;
	padding: 50px;
	margin-top:50px; 
}
.mapouter{
display: none;
	overflow: hidden;
	align-items: center;

}
.fas{
align-items: center;
overflow: hidden;
justify-content: center;

}

.add{
	margin-bottom: 50px;

	display: inline-block;
}
.address{


	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;

}
.phone{
width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
}
.emaill{
	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
	
}
input{
	width: 100%;
	height: 40px;
}
.cols1{


	
	display: inline;
	
}
.cols2{

	/*display: inline;*/
	margin-bottom: 20px;
}
}


/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1050px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;

  }
  .logs{
	position: absolute;
	z-index: 2;
	font-size: 420px;
	color: white;
	margin-top:220px;
	margin-left: 1px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.logss{
	position: absolute;
	z-index: 2;
	font-size: 68px;
	color: white;
	margin-top:600px;
	margin-left: 15px;
	 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
  .mySlides{
	display: none;
	height: 100vh;
	max-width: 100%;


}

  #about{


}
  p{
	font-size: 180px;
	padding: 50px;
	margin-top:50px; 
}
.mapouter{
display: none;
	overflow: hidden;
	align-items: center;

}
.fas{
align-items: center;

justify-content: center;

}

.add{
	margin-bottom: 50px;

	padding-left: 200px;
}
.address{


	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;

}
.phone{
width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
}
.emaill{
	width: 200px;
margin-left: 25px;
	text-align: justify-all;
	margin-bottom: 50px;
	
}
input{
	width: 100%;
	height: 40px;
}
.cols1{


	
	display: inline;
	
}
.cols2{

	/*display: inline;*/
	margin-bottom: 20px;
}
}



