*{
  font-family: 'Bebas Neue', cursive;
  margin: 0 auto;
  text-align: center;


}
.nike{
  margin-top: 50px;
}
h2{
float: left;
padding-left: 10px;
margin-top: 5px;
}
.minimum{
  min-height: 100vh;
}
.footer {
  border: 1px solid black;
text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
}
.images{
  overflow: hidden;

padding: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 250px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
img:hover{
  opacity: 0.5;


}
.titles{
margin-top: 30px;
margin-left: 30px;
}

.titles:hover{
  color: gray;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}